html{

    border:20px solid rgb(226, 22, 22);
    margin:0;
}
body
{
    margin:0px;
    font-family: 'Patrick Hand', cursive;
    background:#1D5D9B;
}
h1
{
    font-size:40px;
    text-align:center;
    
}
h3
{
    font-size:30px;
    
}
p
{
    font-size:25px;
    
}
div > .movies
{
    display:inline-block;
    background:#9E9FA5;
}
div > .l
{
    margin-top:30px;
    display:inline-block;
    border:10px solid gray;
    background:#CAEDFF;
    padding:25px;
}
img
{
    height:370px;
    width:300px;
    
    margin:0;
    padding:0;
    display:block;
    margin-bottom:20px;
}

